* {
    font-family: cursive;

}

body{

background-color: black;

}

h1 {
    color: white ;

}

p {
    font-size: 20px;
    color: lightblue;
}

h2 {
    font-size: 20px;
    color: blue;

}

img{

    width: 900px;
    height: 600px;
}